In [1]:
import pandas as pd
import numpy as np

import requests
from requests import get
from bs4 import BeautifulSoup

from time import sleep
from random import randint

In [9]:
# Creating the lists we want to write into
titles = []
years = []
imdb_ratings = []

In [10]:
# Getting English translated titles from the movies
headers = {'Accept-Language': 'en-US, en;q=0.5'}

In [13]:
pages = np.arange(1, 101, 10)
pages

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [14]:
# Storing each of the urls of 50 movies 
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.imdb.com/search/title/?groups=top_1000&start=' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    # Aiming the part of the html we want to get the information from
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')
    
    # Controling the loop’s rate by pausing the execution of the loop for a specified amount of time
    # Waiting time between requests for a number between 2-10 seconds
    sleep(randint(2,10))
    
    for container in movie_div:
        # Scraping the movie's name
        name = container.h3.a.text
        titles.append(name)
        
        # Scraping the movie's year
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)
        
      
        
        # Scraping the rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)

In [15]:
movies = pd.DataFrame({'movie':titles,
                       'year':years,
                       'imdb_rating':imdb_ratings,
                      })

movies.head()

                     movie    year  imdb_rating
0                     Soul  (2020)          8.1
1        Avengers: Endgame  (2019)          8.4
2  The Wolf of Wall Street  (2013)          8.2
3            The Gentlemen  (2019)          7.8
4    The Last Picture Show  (1971)          8.0

In [16]:
movies.dtypes

movie           object
year            object
imdb_rating    float64
dtype: object

In [18]:
movies.head(100)

                             movie    year  imdb_rating
0                             Soul  (2020)          8.1
1                Avengers: Endgame  (2019)          8.4
2          The Wolf of Wall Street  (2013)          8.2
3                    The Gentlemen  (2019)          7.8
4            The Last Picture Show  (1971)          8.0
..                             ...     ...          ...
95                    Forrest Gump  (1994)          8.8
96                       Prisoners  (2013)          8.1
97  Guardians of the Galaxy Vol. 2  (2017)          7.6
98                    Little Women  (2019)          7.8
99                            Heat  (1995)          8.2

[100 rows x 3 columns]

In [19]:
movies.to_csv('movies.csv')